@import "weiss-config";
@import "helpers/mixins";

/* @group accordion
  --------------------------------------------------------------------------- */

$purple: #A200B8;

.ase-accordion__container__inner {
	list-style: none;
	padding: 0;
}

.ase-accordion__item {}

.ase-accordion__title {
	display: block;
	margin-bottom: 12px;
}

.ase-accordion__title__inner {
	display: block;
	padding: .4em;
	text-decoration: none;
	background: $blue;
	color: #fff;
	@include transition();

	&:hover,
	&:focus,
	&:visited {
		background-color: darken($blue, 10%);
		color: #fff;
	}

	&:active {
		background-color: darken($blue, 20%);
		color: #fff;
	}
}

.ase-accordion__title__ico {
	float: right;
	font-style: normal;
	font-size: 23px;

	&:after {
		content: '+';
	}
}

.ase-accordion__content {
	display: none;

	p {
		padding: 0 .4em;
	}
}

// TODO: ff animation issue

.ase-accordion {

	.js-ase-accordion__item_active {
		@include vendor(perspective, 1500px);
		@include vendor(transform-style, preserve-3d);

		.ase-accordion__title__inner {
			background: $purple;
			cursor: default;
		}

		.ase-accordion__title__ico {
			&:after {
				content: '-';
				margin-right: 4px;
			}
		}

		.ase-accordion__content {
			display: block;
			@include vendor(animation, vert-fade-rotate ease-out 0.3s);
			@include vendor(transform-origin, 0 0);
		}
	}

}

@-webkit-keyframes vert-fade-rotate {
	0% { -webkit-transform: rotateX(-70deg); opacity: 0; }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@-moz-keyframes vert-fade-rotate {
	0% { -moz-transform: rotateX(-90deg); opacity: 0; }
	100% { -moz-transform: rotateX(0deg); opacity: 1; }
}

@keyframes vert-fade-rotate {
	0% { transform: rotateX(-90deg); opacity: 0; }
	100% { transform: rotateX(0deg); opacity: 1; }
}

/* @end */