@import "weiss-config";
@import "helpers/mixins";

/* ============================================================================
		Examples Sliders
============================================================================= */

/* @group effect: slider type: slider_flat
  --------------------------------------------------------------------------- */

.slider_slide-flat {
	.js-ase__item {
		visibility: hidden;
	}

	.js-ase__item_active {
		visibility: visible;
	}
}

/* @end */

/* @group effect: slider type: slider_slide-vert
  --------------------------------------------------------------------------- */

.slider_slide-vert {
	overflow: hidden;

	.js-ase__item {
		visibility: hidden;
		top: -100%;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		top: 0;
	}

	.js-ase__item_prev {
		top: 100%;
	}
}

/* @end */

/* @group Animation: slider_slide-horiz
  --------------------------------------------------------------------------- */

.slider_slide-horiz {
	overflow: hidden;

	.js-ase__item {
		visibility: hidden;
		left: 100%;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		left: 0;
	}

	.js-ase__item_prev {
		left: -100%;
	}
}

/* @end */

/* @group effect: slider type: slider_slide-diagonal
  --------------------------------------------------------------------------- */

.slider_slide-diagonal {
	overflow: hidden;

	.js-ase__item {
		visibility: hidden;
		top: 100%;
		left: -100%;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		top: 0;
		left: 0;
	}

	.js-ase__item_prev {
		top: -100%;
		left: 100%;
	}
}

/* @end */

/* @group effect: slider type: slider_slide-vert_fade
  --------------------------------------------------------------------------- */

.slider_slide-vert_fade {
	overflow: hidden;

	.js-ase__item {
		visibility: hidden;
		top: -100%;
		opacity: 0;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		top: 0;
		opacity: 1;
	}

	.js-ase__item_prev {
		top: 100%;
	}
}

/* @end */

/* @group effect: slider type: slider_slide-diagonal_fade
  --------------------------------------------------------------------------- */

.slider_slide-diagonal_fade {
	overflow: hidden;

	.js-ase__item {
		visibility: hidden;
		top: 100%;
		left: -100%;
		opacity: 0;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		top: 0;
		left: 0;
		opacity: 1;
	}

	.js-ase__item_prev {
		top: -100%;
		left: 100%;
	}
}

/* @end */

/* @group Animation: slider_slide-horiz_fade
  --------------------------------------------------------------------------- */

.slider_slide-horiz_fade {
	overflow: hidden;

	.js-ase__item {
		visibility: hidden;
		left: 100%;
		opacity: 0;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		left: 0;
		opacity: 1;
	}

	.js-ase__item_prev {
		left: -100%;
	}
}

/* @end */

/* @group effect: slider type: slider_slide-vert_fade-rotate
  --------------------------------------------------------------------------- */

.slider_slide-vert_fade-rotate {
	overflow: hidden;

	.ase-slider__container__inner {
		@include vendor(perspective, 1500px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		visibility: hidden;
		top: 400px;
		opacity: 0;
		@include vendor(transform-origin, 50% 50%);
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		top: 0;
		opacity: 1;
		@include vendor(transform, rotateX(0deg));
	}

	.js-ase__item_prev {
		top: -400px;
		@include vendor(transform, rotateX(-60deg));
	}

	.js-ase__item_next {
		top: 400px;
		@include vendor(transform, rotateX(60deg));
	}
}

/* @end */

/* @group Animation: slider_slide-horiz_fade-rotate
  --------------------------------------------------------------------------- */

.slider_slide-horiz_fade-rotate {
	overflow: hidden;

	.ase-slider__container__inner {
		@include vendor(perspective, 1500px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		visibility: hidden;
		left: 100%;
		opacity: 0;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 50% 50%);
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		left: 0;
		opacity: 1;
		@include vendor(transform, rotateX(0deg));
	}

	.js-ase__item_prev {
		left: -100%;
		@include vendor(transform, rotateX(40deg));
	}

	.js-ase__item_next {
		left: 100%;
		@include vendor(transform, rotateX(-40deg));
	}
}

/* @end */

/* @group effect: slider type: slider_slide-horiz_leaf-over
  --------------------------------------------------------------------------- */

.slider_slide-horiz_leaf-over {
	overflow: hidden;

	.ase-slider__container__inner {
		@include vendor(perspective, 900px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		z-index: 0;
		left: 100%;
		visibility: hidden;
		@include vendor(transform-style, preserve-3d);
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		@include vendor(transform, rotate3d(0,1,0,0));
		@include vendor(perspective-origin, 0 0);
		@include transition(all 600ms ease-in-out);
		z-index: 1;
		left: 0;
		visibility: visible;
	}

	.js-ase__item_prev {
		left: -100%;
		@include vendor(transform, rotate3d(0,1,0,90deg));
		@include vendor(transform-origin, 0 -100%);
	}

	.js-ase__item_next {
		@include vendor(transform, rotate3d(0,1,0,-90deg));
		@include vendor(transform-origin, 0 100%);
	}
}

/* @end */

/* @group Animation: slider_slide-windy
  --------------------------------------------------------------------------- */

.slider_slide-windy {

	.ase-slider__container__inner {
		@include vendor(perspective, 1500px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		visibility: hidden;
		left: 0;
		top: 0;
		opacity: 0;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 50% 50%);
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		left: 0;
		top: 0;
		opacity: 1;
		@include vendor(transform, scale(1) rotate3d(1, 1, 0, 0));
	}

	.js-ase__item_prev {
		left: -40%;
		top: 100px;
		@include vendor(transform, scale(0.8) rotate3d(1, 1, 0, 60deg));
	}

	.js-ase__item_next {
		left: 20%;
		top: -100px;
		@include vendor(transform, scale(1.2) rotate3d(1, 1, 0, -60deg));
	}
}

/* @end */

/* @group Animation: slider_slide-rotate_horiz
  --------------------------------------------------------------------------- */

.slider_slide-rotate_horiz {

	.ase-slider__container__inner {
		@include vendor(perspective, 2000px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		visibility: hidden;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 50% 50%);
		@include transition(all linear .6s);
	}

	.js-ase__item_active {
		@include vendor(transform, rotateX(0deg));
		visibility: visible;
	}

	.js-ase__item_prev {
		@include vendor(transform, rotateX(180deg));
	}

	.js-ase__item_next {
		@include vendor(transform, rotateX(-180deg));
	}
}

/* @end */

/* @group Animation: slider_slide-rotate_vert
  --------------------------------------------------------------------------- */

.slider_slide-rotate_vert {

	.ase-slider__container__inner {
		@include vendor(perspective, 2000px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 200px 200px); // persentage dosen`t work for Y
	}

	.js-ase__item {
		visibility: hidden;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 50% 0);
		@include transition(all linear .6s);
	}

	.js-ase__item_active {
		@include vendor(transform, rotateY(0deg));
		visibility: visible;
	}

	.js-ase__item_prev {
		@include vendor(transform, rotateY(180deg));
	}

	.js-ase__item_next {
		@include vendor(transform, rotateY(-180deg));
	}
}

/* @end */

/* @group Animation: slider_slide-rotate_diag
  --------------------------------------------------------------------------- */

.slider_slide-rotate_diag {
	overflow: hidden;

	.ase-slider__container__inner {
		@include vendor(perspective, 1500);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		visibility: hidden;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 50%);
		@include transition(all linear .6s);
	}

	.js-ase__item_active {
		@include vendor(transform, rotate3d(1, 1, 0, 0));
		visibility: visible;
	}

	.js-ase__item_prev {
		@include vendor(transform, rotate3d(1, 1, 0, 180deg));
	}

	.js-ase__item_next {
		@include vendor(transform, rotate3d(1, 1, 0, -180deg));
	}
}

/* @end */

/* @group Animation: slider_slide-flip_horiz
  --------------------------------------------------------------------------- */

.slider_slide-flip_horiz {

	.ase-slider__container__inner {
		@include vendor(perspective, 2000);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		visibility: hidden;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 100% 0);
		@include vendor(transform, rotateX(90deg));
		@include transition(all linear .4s);
	}

	.js-ase__item_active {
		@include vendor(transform, rotateX(0deg));
		visibility: visible;
	}

	.js-ase__item_prev {
		@include vendor(transform, rotateX(-90deg));
	}
}

/* @end */

/* @group Animation: slider_slide-flip_vert
  --------------------------------------------------------------------------- */

.slider_slide-flip_vert {

	.ase-slider__container__inner {
		@include vendor(perspective, 2000);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 200px 200px);
	}

	.js-ase__item {
		visibility: hidden;
		z-index: 2;
		@include vendor(transform-origin, 0 100%);
		@include vendor(transform, rotateY(-90deg));
		@include vendor(backface-visibility, hidden);
		@include transition(all linear .6s);
	}

	.js-ase__item_active {
		@include vendor(transform, rotateY(0deg));
		visibility: visible;
	}

	.js-ase__item_prev {
		@include vendor(transform, rotateY(90deg));
		z-index: 1;
	}
}

/* @end */

/* @group Animation: slider_slide-flip_center
  --------------------------------------------------------------------------- */

.slider_slide-flip_center {
	overflow: hidden;

	.ase-slider__container__inner {
		@include vendor(perspective, 1500);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 200px 200px);
	}

	.js-ase__item {
		opacity: 0;
		@include vendor(transform-origin, 0 100% 50%);
		@include vendor(transform, rotateY(-90deg));
		@include vendor(backface-visibility, hidden);
		@include transition(all linear .6s);
	}

	.js-ase__item_active {
		@include vendor(transform, rotateY(0deg));
		opacity: 1;
	}

	.js-ase__item_prev {
		@include vendor(transform, rotateY(90deg));
	}
}

/* @end */

/* @group Animation: slider_slide-scale-in_fade
  --------------------------------------------------------------------------- */

.slider_slide-scale-in_fade {
	.js-ase__item {
		visibility: hidden;
		opacity: 0;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		opacity: 1;
		@include vendor(transform, scale(1));
	}

	.js-ase__item_prev {
		@include vendor(transform, scale(.8));
	}

	.js-ase__item_next {
		@include vendor(transform, scale(1.2));
	}
}

/* @end */

/* @group Animation: slider_slide-scale-extrude
  --------------------------------------------------------------------------- */

.slider_slide-scale-extrude {
	overflow: hidden;

	.js-ase__item {
		@include transition(all ease-in 600ms);
		z-index: 0;
		left: 100%;
		visibility: hidden;
	}

	.js-ase__item_active {
		@include transition(all ease-in 600ms);
		@include  vendor(perspective-origin, 50% 50%);
		z-index: 1;
		left: 0;
		visibility: visible;
	}

	.js-ase__item_prev {
		left: -100%;
		@include vendor(transform, rotateX(90deg));
		@include vendor(transform-origin, 50% 50% -50px);
	}

	.js-ase__item_next {
		//left: 100%;
		@include vendor(transform, rotateX(-90deg));
		@include vendor(transform-origin, 50% 50% 50px);
	}
}

/* @end */

/* @group Animation: slider_slide-grow
  --------------------------------------------------------------------------- */

.slider_slide-grow {
	.js-ase__item {
		visibility: hidden;
		opacity: 0;
		@include transition(all 600ms ease-in-out);
		@include vendor(transform-origin, 50% 50%);
	}

	.js-ase__item_active {
		visibility: visible;
		opacity: 1;
	}

	.js-ase__item_prev,
	.js-ase__item_next {
		@include vendor(transform, scale(0.01));
	}
}

/* @end */

/* @group effect: slider type: slider_skew-vert
  --------------------------------------------------------------------------- */

.slider_skew-vert {

	.js-ase__item {
		visibility: hidden;
		opacity: 0;
		top: -100%;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		opacity: 1;
		top: 0;
		@include vendor(transform-origin, 0% 0%);
	}

	.js-ase__item_prev {
		top: 100%;
		@include vendor(transform, skewY(-30deg));
	}

	.js-ase__item_next {
		@include vendor(transform, skewY(30deg));
	}
}

/* @end */

/* @group effect: slider type: slider_skew-horiz
  --------------------------------------------------------------------------- */

.slider_skew-horiz {

	.js-ase__item {
		visibility: hidden;
		opacity: 0;
		left: -100%;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		opacity: 1;
		left: 0;
		@include vendor(transform-origin, 100% 100%);
	}

	.js-ase__item_prev {
		left: 100%;
		@include vendor(transform, skewX(-30deg));
	}

	.js-ase__item_next {
		@include vendor(transform, skewX(30deg));
	}
}

/* @end */

/* @group effect: slider type: slider_skew-flip
  --------------------------------------------------------------------------- */

.slider_skew-flip {
	overflow: hidden;
	@include vendor(perspective, 600px);
	@include vendor(perspective-origin, 0% 50%);

	.js-ase__item {
		visibility: hidden;
		@include transition(all 600ms ease-in-out);
		@include vendor(transform-origin, 0 0);
	}

	.js-ase__item_active {
		visibility: visible;
		@include vendor(transform, skewY(0));
	}

	.js-ase__item_prev {
		@include vendor(transform, skewY(-90deg));
	}

	.js-ase__item_next {
		@include vendor(transform, skewY(90deg));
	}
}

/* @end */

/* @group effect: slider type: slider_skew-extrude
  --------------------------------------------------------------------------- */

.slider_skew-extrude {
	overflow: hidden;
	@include vendor(perspective, 600px);
	@include vendor(perspective-origin, 0% 50%);

	.js-ase__item {
		visibility: hidden;
		left: -100%;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		left: 0;
		@include vendor(transform-origin, 0% 0%);
	}

	.js-ase__item_prev {
		left: 100%;
		@include vendor(transform, skewY(-30deg));
	}

	.js-ase__item_next {
		@include vendor(transform, skewY(30deg));
	}
}

/* @end */

/* @group effect: slider type: slider_skew-rotate
  --------------------------------------------------------------------------- */

.slider_skew-rotate {
	overflow: hidden;
	@include vendor(perspective, 600px);
	@include vendor(perspective-origin, 0% 50%);

	.js-ase__item {
		visibility: hidden;
		top: -100%;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		top: 0;
		@include vendor(transform-origin, 50% 0%);
	}

	.js-ase__item_prev {
		top: 100%;
		@include vendor(transform, skewY(-90deg));
	}

	.js-ase__item_next {
		@include vendor(transform, skewY(90deg));
	}
}

/* @end */

/* @group effect: slider type: slider_skew-cut
  --------------------------------------------------------------------------- */

.slider_skew-cut {
	overflow: hidden;
	@include vendor(perspective, 600px);
	@include vendor(perspective-origin, 0% 50%);

	.js-ase__item {
		visibility: hidden;
		@include transition(all 600ms ease-in-out);
	}

	.js-ase__item_active {
		visibility: visible;
		@include vendor(transform-origin, 50% 0%);
	}

	.js-ase__item_prev {
		@include vendor(transform, skewY(-90deg));
	}

	.js-ase__item_next {
		@include vendor(transform, skewY(90deg));
	}
}

/* @end */

/* @group Animation: slider_lightSpeedIn
  --------------------------------------------------------------------------- */

.slider_lightSpeedIn {
	overflow: hidden;

	.js-ase__item {
		display: none;
	}

	.js-ase__item_active {
		display: block;
		@include vendor(animation, lightSpeedIn ease-out 0.5s);
		@include vendor(transform-origin, 100% 100%);
	}
}

@-webkit-keyframes lightSpeedIn {
	0% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { -webkit-transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { -webkit-transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-moz-keyframes lightSpeedIn {
	0% { -moz-transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { -moz-transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { -moz-transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { -moz-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@-o-keyframes lightSpeedIn {
	0% { -o-transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { -o-transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { -o-transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { -o-transform: translateX(0%) skewX(0deg); opacity: 1; }
}

@keyframes lightSpeedIn {
	0% { transform: translateX(100%) skewX(-30deg); opacity: 0; }
	60% { transform: translateX(-20%) skewX(30deg); opacity: 1; }
	80% { transform: translateX(0%) skewX(-15deg); opacity: 1; }
	100% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}

/* @end */


/* @group slider_expression
  --------------------------------------------------------------------------- */

#slider_expression {
	overflow: hidden;
	@include padding-leader(7, $base-font-size);
	@include padding-trailer(4, $base-font-size);
}

.slider_expression {
	box-shadow: none;
	background: transparent;

	.ase-slider__inner {
		position: relative;
		z-index: 1; // nav z-index fix
	}

	.ase-slider__container__inner {
		@include vendor(perspective, 2500px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 50%);
	}

	.js-ase__item {
		left: 0;
		top: 0;
		z-index: 1;
		@include vendor(transform-origin, 50% 50%);
		@include transition(all 800ms ease-in-out);
		//@include vendor(backface-visibility, hidden);
	}

	.js-ase__item_active {
		left: 0;
		top: 0;
		z-index: 2;
		@include vendor(transform, scale(1) rotate3d(1, 1, 0, 0));
	}

	.js-ase__item_prev {
		left: -40%;
		top: 100px;
		@include vendor(transform, scale(0.8) rotate3d(1, 1, 0, 60deg));
	}

	.js-ase__item_next {
		left: 20%;
		top: -100px;
		@include vendor(transform, scale(1.2) rotate3d(1, 1, 0, -57deg));
	}
}

/* @end */


/* TODO

http://www.stuskitchen.com/
http://www.fillstudio.com/
http://dibusoft.com/
*/
