@import "weiss-config";
@import "helpers/mixins";

/* @group Complex slider generic
  --------------------------------------------------------------------------- */

.ase-slider-complex {
	position: relative;
	width: 100%;

	.i-slider-nav {
		z-index: 2;
	}
}

.ase-slider-complex__container {
	position: relative;
	height: 552px;
	width: 100%;
	z-index: 1;
}

.ase-slider-complex__container__inner {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ase-slider-complex__item {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 552px;
}

.ase-slider-complex__item_slide-1 {
	background: url(../images/example-complex/bg-main-day.png) 0 0 repeat-x;
}

.ase-slider-complex__item_slide-2 {
	background: $green;
}

.ase-slider-complex__item_slide-3 {
	background: $violet;
}

.ase-slider-complex__item__inner {
	width: 100%;
	height: 552px;
	position: relative;
	z-index: 1;
}

.slider_complex {

	.js-ase__item {
		visibility: hidden;
	}

	.js-ase__item_active {
		visibility: visible;
	}
}

/* @end */

/* @group elements generic parts
  --------------------------------------------------------------------------- */

.town__anim-elem-container {
	position:absolute;
}

.town__anim-elem-container_bg {
	width:100%;
	height:100%;
	top: 0;
	left: 0;
}

/* @end */

/* @group elements bg
  --------------------------------------------------------------------------- */

$example-complex-layout: vertical;
$example-complex-spacing: 10px;
@import "example-complex/*.png";

// town layers

%anim-elem_bg_1 {
	@include example-complex-sprite(bg-day-town-1);
}

%anim-elem_bg_2 {
	@include example-complex-sprite(bg-day-town-2);
}

%anim-elem_bg_3 {
	@include example-complex-sprite(bg-day-town-3);
}

// town street light

%anim-elem_bg_4 {
	@include example-complex-sprite(bg-day-lights);
}

// cars

%anim-elem_car_1 {
	width: 195px;
	height: 85px;
	@include example-complex-sprite(bg-day-car-1);
}

%anim-elem_car_2 {
	width: 203px;
	height: 103px;
	@include example-complex-sprite(bg-day-car-2);
}

%anim-elem_car_3 {
	width: 201px;
	height: 111px;
	@include example-complex-sprite(bg-day-car-3);
}

// trees

%anim-elem_tree_1 {
	width: 116px;
	height: 115px;
	@include example-complex-sprite(bg-day-tree-1);
}

%anim-elem_tree_2 {
	@include example-complex-sprite(bg-day-tree-2);
}

/* @end */

/* @group elem animatin types
  --------------------------------------------------------------------------- */

//%anim-elem_bubble_anim-1 {
//	@include vendor(animation, star-1 linear 20s infinite);
//}

/* @end */

/* @group animation containers
  --------------------------------------------------------------------------- */

.town__anim-elem-container {
	position: absolute;
	display:block;
}

.town__anim-elem_car,
.town__anim-elem_tree {
	display:block;
}

// town layers

.town__anim-elem-container_1 {
	@extend %anim-elem_bg_1;
}

.town__anim-elem-container_2 {
	@extend %anim-elem_bg_2;
}

.town__anim-elem-container_3 {
	@extend %anim-elem_bg_3;
}

// lights

.town__anim-elem-container_4 {
	@extend %anim-elem_bg_4;
}

// cars

.town__anim-elem-container_5 {
	top: 430px;
	left:300px;

	.town__anim-elem_car {
		@extend %anim-elem_car_1;
	}
}

.town__anim-elem-container_6 {
	top: 400px;
	left: 607px;

	.town__anim-elem_car {
		@extend %anim-elem_car_2;
	}
}

.town__anim-elem-container_7 {
	top: 432px;
	left: 1100px;

	.town__anim-elem_car {
		@extend %anim-elem_car_3;
	}
}

// trees

.town__anim-elem-container_8 {
	top: 338px;
	left: 201px;

	.town__anim-elem_tree {
		@extend %anim-elem_tree_1;
	}
}

.town__anim-elem-container_9 {
	@extend %anim-elem_tree_2;
}

/* @end */