@import "weiss-config";
@import "helpers/mixins";

/* ============================================================================
		ase-slider-slice
============================================================================= */

$sliceItemWidth: 850px;
$sliceItemheight: 420px;
$sliceIndexW: $sliceItemWidth/10;
$sliceIndexH: $sliceItemheight/10;

.ase-slider-slice {
	position: relative;
	overflow: hidden; //ff fix
	background: #222;
	height: $sliceItemheight;
	width: $sliceItemWidth;
	margin: 0 auto;

	.i-slider-nav {
		z-index: 2;
	}

	.nav {
		position: absolute;
		top: 4px;
		left: 4px;
		z-index: 4;
	}
}

.ase-slider-slice__container {
	position: relative;
	z-index: 1;
}

.ase-slider-slice__container__inner {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ase-slider-slice__item {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $sliceItemheight;
	background: #222;
}

.ase-slider-slice__item__inner {
	height: $sliceItemheight;
	position: relative;
	z-index: 1;
}

// bg

.ase-slider-slice__item_slide {
}

.ase-slider-slice__item__slice {
	position: absolute;
	background-repeat: repeat;

	.ase-slider-slice__item_slide-1 & {
		background-image: url(../images/example-slice/1.jpg);
	}

	.ase-slider-slice__item_slide-2 & {
		background-image: url(../images/example-slice/2.jpg);
	}

	.ase-slider-slice__item_slide-3 & {
		background-image: url(../images/example-slice/3.jpg);
	}
}

.ase-slider-slice_radial {

	.ase-slider-slice__item_slide-1 {
		background: url(../images/example-slice/1.jpg) center center repeat;
	}

	.ase-slider-slice__item_slide-2 {
		background: url(../images/example-slice/2.jpg) center center repeat;
	}

	.ase-slider-slice__item_slide-3 {
		background: url(../images/example-slice/3.jpg) center center repeat;
	}

	.ase-slider-slice__item__slice {
		left: 50%;
		top: 50%;
		border-radius: 100%;
		background-position: center center;
	}

	@for $sliceItem from 0 through 9 {

		.ase-slider-slice__item__slice_#{$sliceItem} {
			$sliceWidth: $sliceItemWidth - ($sliceItem * $sliceIndexW);

			margin-left: - $sliceWidth / 2;
			margin-top:  - $sliceWidth / 2;
			width: $sliceWidth;
			height: $sliceWidth;
		}
	}
}

.ase-slider-slice_vertical {

	.ase-slider-slice__item__slice {
		top: 0;
		height: 100%;
	}

	@for $sliceItem from 0 through 9 {

		.ase-slider-slice__item__slice_#{$sliceItem} {
			$sliceWidth: $sliceIndexW;

			left: $sliceWidth * $sliceItem;
			width: $sliceWidth; // + 1px
			background-position: -#{$sliceWidth * $sliceItem} 0;
		}
	}
}

.ase-slider-slice_horizontal {

	.ase-slider-slice__item__slice {
		left: 0;
		width: 100%;
	}

	@for $sliceItem from 0 through 9 {

		.ase-slider-slice__item__slice_#{$sliceItem} {
			$sliceItemheight: $sliceIndexH;

			top: $sliceItemheight * $sliceItem + 1px;
			height: $sliceItemheight;
			background-position: 0 -#{$sliceItemheight * $sliceItem};
		}
	}
}

/* @group Animation types
  --------------------------------------------------------------------------- */

// Vertical

.slice-vertical-type-1 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all linear .7s);
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			top: 0;
			opacity: 1;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {

		.ase-slider-slice__item__slice {
			top: 40%;
			opacity: 0;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			top: -40%;
		}

	}
}

// Horizontal

.slice-horiz-type-1 {

	.js-ase__item {
		@include transition(all ease-in .4s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all linear 1s);
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			left: 0;
			opacity: 1;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {

		.ase-slider-slice__item__slice {
			left: 40%;
			opacity: 0;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			left: -40%;
		}

	}
}

// Radial

.slice-radial-type-1 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			opacity: 1;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {

		.ase-slider-slice__item__slice {
			@include vendor(transform, rotate(20deg));
			opacity: 0;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			@include vendor(transform, rotate(-20deg));
		}

		@for $sliceItem from 0 through 9 {
			.ase-slider-slice__item__slice_#{$sliceItem} {
				@include vendor(transition-delay, #{1 / $sliceItem}s);
			}
		}

	}
}

.slice-radial-type-2 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			opacity: 0;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {

		.ase-slider-slice__item__slice {
			@include vendor(transform, rotate(20deg));
			opacity: 1;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			@include vendor(transform, rotate(-20deg));
		}

		@for $sliceItem from 0 through 9 {
			.ase-slider-slice__item__slice_#{$sliceItem} {
				@include vendor(transition-delay, #{1 / $sliceItem}s);
			}
		}

	}
}

.slice-radial-type-3 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			opacity: 0;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {

		.ase-slider-slice__item__slice {
			@include vendor(transform, rotate(20deg));
			opacity: 1;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			@include vendor(transform, rotate(-20deg));
		}

	}
}

// Scale

.slice-scale-type-1 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			@include vendor(transform, scale(1));
		}
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{$i * 80 + 500}ms);
				@include vendor(transform, scale($i / 4 + 0.5));
			}
		}
	}
}

.slice-scale-type-2 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
		@include vendor(transform, scale(1.3));
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			@include vendor(transform, scale(1));
		}
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{$i * 80 + 200}ms);
			}
		}
	}

}

.slice-scale-vert {

	.js-ase__item {
		//@include transition(all ease-in 1s);
	}

	.ase-slider-slice__item__slice {
		opacity: 0;
		top: -40px;
		@include transition(all ease 1s);
		@include vendor(transform, scale(1.2));
	}

	.js-ase__item_active {

		.ase-slider-slice__item__slice {
			top: 0;
			opacity: 1;
			@include vendor(transform, scale(1));
		}
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{$i * 80 + 300}ms);
			}
		}
	}

}

.slice-scale-horiz {

	.js-ase__item {
		//@include transition(all ease-in 1s);
	}

	.ase-slider-slice__item__slice {
		opacity: 0;
		left: -40px;
		@include transition(all ease 1s);
		@include vendor(transform, scale(1.2));
	}

	.js-ase__item_active {

		.ase-slider-slice__item__slice {
			left: 0;
			opacity: 1;
			@include vendor(transform, scale(1));
		}
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{$i * 80 + 300}ms);
			}
		}
	}

}

// Opacity

.slice-opacity-type-1 {

	.js-ase__item {
	}

	.ase-slider-slice__item__slice {
		@include transition(all linear 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice_0 {
		border-radius: 0; // fix extra space
	}

	.js-ase__item_active {

		.ase-slider-slice__item__slice {
			opacity: 1;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {
		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{$i * 80 + 300}ms);
			}
		}
	}

}

// bg position

.slice-bgposit-type-1 { // horizontal

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		.ase-slider-slice__item__slice {
			background-position: -40px 0;
		}

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{$i * 80 + 500}ms);
			}
		}
	}
}

.slice-bgposit-type-2 { // vertical

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		.ase-slider-slice__item__slice {
			background-position: 0 -40px;
		}

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{$i * 80 + 500}ms);
			}
		}
	}
}

// flip

//.slice-flip-type-1 {
//
//	.ase-slider__container__inner {
//		@include vendor(perspective, 900);
//		@include vendor(transform-style, preserve-3d);
//	}
//
//	.js-ase__item {
//		opacity: 0;
//		@include transition(all linear .6s);
//
//		.ase-slider-slice__item__slice {
//			@include vendor(transform-origin, 0 50%);
//			@include transition(all linear .4s);
//		}
//	}
//
//	.js-ase__item_active {
//		opacity: 1;
//
//		.ase-slider-slice__item__slice {
//			@include vendor(transform, translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg));
//		}
//	}
//
//	.js-ase__item_prev,
//	.js-ase__item_next {
//		@for $i from 0 through 9 {
//			.ase-slider-slice__item__slice_#{$i} {
//				@include vendor(transition-delay, #{$i * 80}ms);
//			}
//		}
//	}
//
//	.js-ase__item_prev {
//		.ase-slider-slice__item__slice {
//			@include vendor(transform, translate3d(0, -50%, 0) rotate3d(1, 0, 0, 90deg));
//		}
//	}
//
//	.js-ase__item_next {
//		.ase-slider-slice__item__slice {
//			@include vendor(transform, translate3d(0, 100%, 0) rotate3d(1, 0, 0, -90deg));
//		}
//	}
//}

/* @end */

