@import "weiss-config";
@import "helpers/mixins";

/* ============================================================================
		ase-slider-slice
============================================================================= */

$sliceItemsWidth: 850px;
$sliceItemsHeight: 420px;
$sliceItemW: $sliceItemsWidth/10;
$sliceItemH: $sliceItemsHeight/10;

.ase-slider-slice {
	position: relative;
	overflow: hidden; //ff fix
	height: $sliceItemsHeight;
	width: $sliceItemsWidth;
	margin: 0 auto;

	.i-slider-nav {
		z-index: 2;
	}

	.nav {
		position: absolute;
		top: 4px;
		left: 4px;
		z-index: 4;
	}
}

.ase-slider-slice__container {
	position: relative;
	z-index: 1;
	height: $sliceItemsHeight;
}

.ase-slider-slice__container__inner {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ase-slider-slice__item {
	margin: 0;
	padding: 0;
	//position: absolute;
	//top: 0;
	//left: 0;
	//width: 100%;
	//height: $sliceItemheight;
}

.ase-slider-slice__item__inner {
	//height: $sliceItemheight;
	//position: relative;
	//z-index: 1;
}

// bg

.ase-slider-slice__item_slide {
}

.ase-slider-slice__item__slice {
	position: absolute;
	background-repeat: repeat;

	.ase-slider-slice__item_slide-1 & {
		background-image: url(../images/example-slice/1.jpg);
	}

	.ase-slider-slice__item_slide-2 & {
		background-image: url(../images/example-slice/2.jpg);
	}

	.ase-slider-slice__item_slide-3 & {
		background-image: url(../images/example-slice/3.jpg);
	}
}

.ase-slider-slice_radial {

	$sliceRadItemWidth: 1200px;
	$sliceRadIndexW: $sliceItemsWidth/10;

	.ase-slider-slice__item__slice {
		left: 50%;
		top: 50%;
		border-radius: $sliceRadItemWidth;
		background-position: center center;
	}

	@for $sliceItem from 1 through 10 {

		.ase-slider-slice__item__slice_#{$sliceItem} {
			$sliceWidth: $sliceRadItemWidth - ($sliceItem * $sliceRadIndexW);

			margin-left: - $sliceWidth / 2;
			margin-top:  - $sliceWidth / 2;
			width: $sliceWidth;
			height: $sliceWidth;
		}
	}
}

.ase-slider-slice_vertical {

	.ase-slider-slice__item__slice {
		top: 0;
		height: $sliceItemsHeight;
	}

	@for $sliceItem from 0 through 9 {

		.ase-slider-slice__item__slice_#{$sliceItem} {
			$sliceWidth: $sliceItemW;

			left: $sliceWidth * $sliceItem;
			width: $sliceWidth; // + 1px
			background-position: -#{$sliceWidth * $sliceItem} 0;
		}
	}
}

.ase-slider-slice_horizontal {

	.ase-slider-slice__item__slice {
		left: 0;
		width: $sliceItemsWidth;
	}

	@for $sliceItem from 0 through 9 {

		.ase-slider-slice__item__slice_#{$sliceItem} {
			$sliceItemheight: $sliceItemH;

			top: $sliceItemheight * $sliceItem + 1px;
			height: $sliceItemheight;
			background-position: 0 -#{$sliceItemheight * $sliceItem};
		}
	}
}

/* @group Animation types
  --------------------------------------------------------------------------- */

// IE default behavior

.ie6-7 .ase-slider-slice {

	.js-ase__item {
		visibility: hidden;
	}

	.ase-slider-slice__item__slice {
		visibility: hidden;
	}

	.js-ase__item_active {
		visibility: visible;

		.ase-slider-slice__item__slice {
			visibility: visible;
		}
	}
}

// Vertical

.slice-vertical-type-1 {

	.ase-slider-slice__item__slice {
		@include transition(all linear .7s);
		visibility: hidden;
		top: 420px;
	}

	.js-ase__item_active {
		.ase-slider-slice__item__slice {
			visibility: visible; // fix change from .prev to .next animation
			top: 0 !important;
		}
	}

	.js-ase__item_next {
		.ase-slider-slice__item__slice {
			top: 420px;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			top: -420px;
		}
	}

	.js-ase__item_prev {
		.ase-slider-slice__item__slice {
			top: -420px;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			top: 420px;
		}
	}

}

// Horizontal

.slice-horiz-type-1 {

	.ase-slider-slice__item__slice {
		@include transition(all linear .7s);
		visibility: hidden;
		left: 100%;
	}

	.js-ase__item_active {
		.ase-slider-slice__item__slice {
			visibility: visible; // fix change from .prev to .next animation
			left: 0 !important;
		}
	}

	.js-ase__item_next {
		.ase-slider-slice__item__slice {
			left: 100%;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			left: -100%;
		}
	}

	.js-ase__item_prev {
		.ase-slider-slice__item__slice {
			left: -100%;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			left: 100%;
		}
	}
}

// Radial

.slice-radial-type-1 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			opacity: 1;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {

		.ase-slider-slice__item__slice {
			@include vendor(transform, rotate(20deg));
			opacity: 0;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8,
		.ase-slider-slice__item__slice_10 {
			@include vendor(transform, rotate(-20deg));
		}

		@for $sliceItem from 0 through 10 {
			.ase-slider-slice__item__slice_#{$sliceItem} {
				@include vendor(transition-delay, #{1 / $sliceItem}s);
			}
		}

	}
}

.slice-radial-type-2 {

	.js-ase__item {
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {

		.ase-slider-slice__item__slice {
			opacity: 0;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {

		.ase-slider-slice__item__slice {
			@include vendor(transform, rotate(20deg));
			opacity: 1;
		}

		.ase-slider-slice__item__slice_0,
		.ase-slider-slice__item__slice_2,
		.ase-slider-slice__item__slice_4,
		.ase-slider-slice__item__slice_6,
		.ase-slider-slice__item__slice_8 {
			@include vendor(transform, rotate(-20deg));
		}

	}
}

// flip

.slice-flip-vert {
	overflow: visible;

	&.ase-slider-slice_radial {
		overflow: hidden;
	}

	.ase-slider-slice__item__inner {
		@include vendor(perspective, 2000px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 215px); // fix Y persentage calc fall
	}

	.ase-slider-slice__item__slice {
		visibility: hidden;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 50% 0);
		@include transition(all .6s linear);
	}

	.js-ase__item_active {
		.ase-slider-slice__item__slice {
			@include vendor(transform, rotateY(0deg));
			visibility: visible;
		}
	}

	.js-ase__item_prev {
		.ase-slider-slice__item__slice {
			@include vendor(transform, rotateY(180deg));
		}
	}

	.js-ase__item_next {
		.ase-slider-slice__item__slice {
			@include vendor(transform, rotateY(-180deg));
		}
	}

	@for $i from 0 through 9 {
		.ase-slider-slice__item__slice_#{$i} {
			@include vendor(transition-delay, #{60 * $i}ms);
		}
	}

}

.slice-flip-horiz {
	overflow: visible;

	&.ase-slider-slice_radial {
		overflow: hidden;
	}

	.ase-slider-slice__item__inner {
		@include vendor(perspective, 2000px);
		@include vendor(transform-style, preserve-3d);
		@include vendor(perspective-origin, 50% 215px); // fix Y persentage calc fall
	}

	.ase-slider-slice__item__slice {
		visibility: hidden;
		@include vendor(backface-visibility, hidden);
		@include vendor(transform-origin, 0 50%);
		@include transition(all .6s linear);
	}

	.js-ase__item_active {
		.ase-slider-slice__item__slice {
			@include vendor(transform, rotateX(0deg));
			visibility: visible;
		}
	}

	.js-ase__item_prev {
		.ase-slider-slice__item__slice {
			@include vendor(transform, rotateX(180deg));
		}
	}

	.js-ase__item_next {
		.ase-slider-slice__item__slice {
			@include vendor(transform, rotateX(-180deg));
		}
	}

	@for $i from 0 through 9 {
		.ase-slider-slice__item__slice_#{$i} {
			@include vendor(transition-delay, #{60 * $i}ms);
		}
	}

}

// Scale

.slice-scale-type-1 {

	.js-ase__item {
		visibility: hidden;
		@include transition(all ease #{9 * 90}ms);
	}

	.ase-slider-slice__item__slice {
		opacity: 0;
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		visibility: visible;

		.ase-slider-slice__item__slice {
			opacity: 1;
			z-index: 2;
			@include vendor(transform, scale(1));
		}
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-delay, #{90 * $i}ms);
				@include vendor(transform, scale(0.05 * $i));
			}
		}
	}
}

.slice-scale-type-2 {

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
		@include vendor(transform, scale(1.3));
	}

	.js-ase__item_active {
		opacity: 1;

		.ase-slider-slice__item__slice {
			@include vendor(transform, scale(1));
		}
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-delay, #{90 * $i}ms);
			}
		}
	}

}

.slice-scale-type-3 {

	.ase-slider-slice__item__slice {
		opacity: 0;
		@include transition(all ease 1s);
		@include vendor(transform, scale(1.2));
	}

	.js-ase__item_active {

		.ase-slider-slice__item__slice {
			opacity: 1;
			@include vendor(transform, scale(1));
		}
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{120 * $i}ms);
			}
		}
	}

}

// Opacity

.slice-opacity-type-1 {

	.js-ase__item {
	}

	.ase-slider-slice__item__slice {
		@include transition(all linear 1s);
		opacity: 0;
		z-index: 0;
	}

	.js-ase__item_active {

		.ase-slider-slice__item__slice {
			opacity: 1;
			z-index: 1;
		}
	}

	.js-ase__item_prev,
	.js-ase__item_next {
		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-delay, #{90 * $i}ms);
			}
		}
	}

}

// bg position

.slice-bgposit-type-1 { // horizontal

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		.ase-slider-slice__item__slice {
			background-position: -40px 0;
		}

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{90 * $i}ms);
			}
		}
	}
}

.slice-bgposit-type-2 { // vertical

	.js-ase__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.ase-slider-slice__item__slice {
		@include transition(all ease 1s);
	}

	.js-ase__item_active {
		opacity: 1;
	}

	.js-ase__item_next,
	.js-ase__item_prev {

		.ase-slider-slice__item__slice {
			background-position: 0 -40px;
		}

		@for $i from 0 through 9 {
			.ase-slider-slice__item__slice_#{$i} {
				@include vendor(transition-duration, #{90 * $i}ms);
			}
		}
	}
}

/* @end */

