@import "weiss-config";
@import "helpers/mixins";

.tab {
	position: relative;
}

.tab__item {
	max-width: 61em;
	_width: 61em;
	margin-left: auto;
	margin-right: auto;
}

// tab nav

.tab__nav {
	text-align: center;
	margin-bottom: 30px;
	border-bottom: 1px solid #78C6FA;
}

.tab__nav__inner {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: top;

	.ie7-8 & {
		display: inline;
		zoom: 1;
	}
}

.tab__nav__item {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}

.tab__nav__ln {
	display: block;
	padding: 5px 10px;
	text-decoration: none;

	&:hover {
		background-color: lighten(#78C6FA, 20%);
	}
}

.js-ase-tab__pagination__ln_active {
	background: #78C6FA !important;
	color: #fff !important;
}

// tab content

.tab__content {}

/* @group ase tabs behaviour
  --------------------------------------------------------------------------- */

.js-ase-tab__item {
	display: none;
}

.js-ase-tab__item_active {
	display: block;
}

/* @end */

/* @group ase tabs animations
  --------------------------------------------------------------------------- */

.tab-anim-top {
	.js-ase-tab__item {
		display: none;
	}

	.js-ase-tab__item_active {
		display: block;

		.article {
			@include vendor(animation, tab-top ease-out .3s);
		}

		@for $i from 0 through 4 {
			.article_sec_#{$i} {
				@include vendor(animation-duration, #{$i * 200 + 200}ms);
			}
		}
	}
}

@-webkit-keyframes tab-top {
	0%   { bottom: -40px; opacity: 0;}
	100% { bottom: 0; opacity: 1; }
}

@-moz-keyframes tab-top {
	0%   { bottom: -40px; opacity: 0;}
	100% { bottom: 0; opacity: 1; }
}

@keyframes tab-top {
	0%   { bottom: -40px; opacity: 0;}
	100% { bottom: 0; opacity: 1; }
}

.tab-anim-flip {

	.js-ase-tab__item {
		display: none;
		@include vendor(perspective, 1200);
		@include vendor(transform-style, preserve-3d);

		.l-span_6 {
			@include vendor(perspective, 1200);
			@include vendor(transform-style, preserve-3d);
		}

		.article {
			@include transition(all 0.6s ease-in-out);
			@include vendor(transform-origin, 0 50%);
		}
	}

	.js-ase-tab__item_active {
		display: block;

		.article {
			@include vendor(animation, flip-horiz ease-out .6s);
		}
	}
}

@-webkit-keyframes flip-horiz {
	0% { opacity: .5; -webkit-transform: translate3d(0,20px,0) rotate3d(1,0,0,-90deg);-webkit-transform-origin: 0 0;}
	100%   { opacity: 1; -webkit-transform: rotate3d(0,0,0) rotate3d(0,0,0,0);-webkit-transform-origin: 0 50%;}
}

@-moz-keyframes flip-horiz {
	0% { opacity: .5; -moz-transform: translate3d(0,20px,0) rotate3d(1,0,0,-90deg);-moz-transform-origin: 0 0;}
	100%   { opacity: 1; -moz-transform: rotate3d(0,0,0) rotate3d(0,0,0,0);-moz-transform-origin: 0 50%;}
}

@keyframes flip-horiz {
	0% { opacity: .5; transform: translate3d(0,20px,0) rotate3d(1,0,0,-90deg);transform-origin: 0 0;}
	100%   { opacity: 1; transform: rotate3d(0,0,0) rotate3d(0,0,0,0);transform-origin: 0 50%;}
}

/* @end */

// testing

@-webkit-keyframes test-flip-top {
	0% { opacity: .5; -webkit-transform: translate3d(0,-80px,0) rotate3d(1,0,0,40deg); -webkit-transform-origin: 0 50%;}
	100%   { opacity: 1; -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0deg); -webkit-transform-origin: 0 0; }
}

@-webkit-keyframes test-cube { // front
	0% { opacity: .5; -webkit-transform: translate3d(0,50px,0) rotate3d(1,0,0,-90deg);}
	100%   { opacity: 1; -webkit-transform: rotate3d(0,0,0,0deg);}
}

@-webkit-keyframes test-cube { // back
	0% { opacity: .5; -webkit-transform: translate3d(0,-100px,0) rotate3d(1,0,0,90deg);}
	100%   { opacity: 1; -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0deg);}
}

/*
	TODO: http://www.factoria.it/

*/