@import "weiss-config";
@import "helpers/mixins";

.ase-tab {
	position: relative;

	.l-span {
		overflow: hidden;
	}
}

.js-ase-tab__item {
	display: none;
}

.js-ase-tab__item_active {
	display: block;
}

.js-ase-tab__item_next {
}

.js-ase-tab__item_prev {
}

.tab__nav {
	text-align: center;
	margin-bottom: 30px;
	border-bottom: 1px solid #78C6FA;
}

.tab__nav__inner {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: top;

	.ie7-8 & {
		display: inline;
		zoom: 1;
	}
}

.tab__nav__item {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}

.tab__nav__ln {
	display: block;
	padding: 5px 10px;
	text-decoration: none;

	&:hover {
		background-color: lighten(#78C6FA, 20%);
	}
}

.js-ase-tab__pagination__ln_active {
	background: #78C6FA !important;
	color: #fff !important;
}

.tab__content {}

/* @group article
  --------------------------------------------------------------------------- */

.article {
	position: relative;
}

.article_main {

}

.article_sec {

}

.tab__item {

	.article {
		@include vendor(animation, tab-top ease-in .5s);
	}

	@for $i from 0 through 5 {
		.article_sec_#{$i} {
			-webkit-animation-duration: #{$i * 80 + 500}ms;
		}
	}
}

@-webkit-keyframes tab-rotate {
	0%   { opacity: 0; -webkit-transform: rotate3d( 80,70,10,160deg ); -webkit-perspective-origin: 0 0;}
	100% { opacity: 1; -webkit-transform: rotate3d( 0, 0, 0, 0deg ); -webkit-perspective-origin: 50% 50%;}
}

@-webkit-keyframes tab-top {
	0%   { bottom: -40px; opacity: 0;}
	100% { bottom: 0; opacity: 1; }
}

@-moz-keyframes tab-top {
	0%   { bottom: -40px; opacity: 0;}
	100% { bottom: 0; opacity: 1; }
}

@keyframes tab-top {
	0%   { bottom: -40px; opacity: 0;}
	100% { bottom: 0; opacity: 1; }
}

/* @end */