/* @group accordion
  --------------------------------------------------------------------------- */
.ase-accordion__container__inner {
  list-style: none;
  padding: 0;
}

.ase-accordion__title {
  display: block;
  margin-bottom: 12px;
}

.ase-accordion__title__inner {
  display: block;
  padding: .4em;
  text-decoration: none;
  background: #78c6fa;
  color: #fff;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}
.ase-accordion__title__inner:hover, .ase-accordion__title__inner:focus {
  background-color: #47b1f8;
  color: #fff;
}
.ase-accordion__title__inner:active {
  background-color: #169cf6;
}

.ase-accordion__title__ico {
  float: right;
  font-style: normal;
  font-size: 23px;
}
.ase-accordion__title__ico:after {
  content: '+';
}

.ase-accordion__content {
  display: none;
}

.ase-accordion .js-ase-accordion__item_active {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -o-perspective: 1500px;
  perspective: 1500px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.ase-accordion .js-ase-accordion__item_active .ase-accordion__title__inner {
  background: #a200b8;
  cursor: default;
}
.ase-accordion .js-ase-accordion__item_active .ase-accordion__title__ico:after {
  content: '-';
  margin-right: 4px;
}
.ase-accordion .js-ase-accordion__item_active .ase-accordion__content {
  display: block;
  -webkit-animation: vert-fade-rotate ease-out 0.3s;
  -moz-animation: vert-fade-rotate ease-out 0.3s;
  -ms-animation: vert-fade-rotate ease-out 0.3s;
  -o-animation: vert-fade-rotate ease-out 0.3s;
  animation: vert-fade-rotate ease-out 0.3s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

@-webkit-keyframes vert-fade-rotate {
  0% {
    -webkit-transform: rotateX(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes vert-fade-rotate {
  0% {
    -webkit-transform: rotateX(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes vert-fade-rotate {
  0% {
    -webkit-transform: rotateX(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}

/* @end */
