@import "weiss-config";
@import "helpers/mixins";

/* ============================================================================
		Slice-marquee
============================================================================= */

$sliceItemWidth: 850px;
$sliceItemheight: 420px;
$sliceIndexW: $sliceItemWidth/10;
$sliceIndexH: $sliceItemheight/10;

.slice-marquee {
	position: relative;
	overflow: hidden; //ff fix
	background: #222;
	height: $sliceItemheight;
	width: $sliceItemWidth;
	margin: 0 auto;
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.44);

	.i-slider-nav {
		z-index: 2;
	}

	.js-marquee__items-wr {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.nav {
		position: absolute;
		top: 10px;
		right: 0;
		z-index: 5;
	}
}

.slice-marquee__container {
	position: relative;
	z-index: 1;
}

.slice-marquee__item {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $sliceItemheight;
	background: #000;
}

.slice-marquee__item__inner {
	height: $sliceItemheight;
	position: relative;
	z-index: 1;
}

// bg

.slice-marquee__item_slide {
}

// .slice-marquee__item_slide-1 {
// 	background-image: url(../images/example/slice/1.jpg);
// }

// .slice-marquee__item_slide-2 {
// 	background-image: url(../images/example/slice/2.jpg);
// }

// .slice-marquee__item_slide-3 {
// 	background-image: url(../images/example/slice/3.jpg);
// }

.slice-marquee__item__slice {
	position: absolute;
	background-repeat: no-repeat;

	.slice-marquee__item_slide-1 & {
		//@extend .slice-marquee__item_slide-1;
		background-image: url(../images/example-slice/1.jpg);
	}

	.slice-marquee__item_slide-2 & {
		//@extend .slice-marquee__item_slide-2;
		background-image: url(../images/example-slice/2.jpg);
	}

	.slice-marquee__item_slide-3 & {
		//@extend .slice-marquee__item_slide-3;
		background-image: url(../images/example-slice/3.jpg);
	}
}

.slice-marquee_radial {

	.slice-marquee__item_slide-1 {
		background: url(../images/example-slice/1.jpg) center center no-repeat;
	}

	.slice-marquee__item_slide-2 {
		background: url(../images/example-slice/2.jpg) center center no-repeat;
	}

	.slice-marquee__item_slide-3 {
		background: url(../images/example-slice/3.jpg) center center no-repeat;
	}

	.slice-marquee__item__slice {
		left: 50%;
		top: 50%;
		border-radius: 100%;
		background-position: center center;
	}

	@for $sliceItem from 0 through 9 {

		.slice-marquee__item__slice_#{$sliceItem} {
			$sliceWidth: $sliceItemWidth - ($sliceItem * $sliceIndexW);

			margin-left: - $sliceWidth / 2;
			margin-top:  - $sliceWidth / 2;
			width: $sliceWidth;
			height: $sliceWidth;
		}
	}
}

.slice-marquee_vertical {

	.slice-marquee__item__slice {
		top: 0;
		height: 100%;
	}

	@for $sliceItem from 0 through 9 {

		.slice-marquee__item__slice_#{$sliceItem} {
			$sliceWidth: $sliceIndexW;

			left: $sliceWidth * $sliceItem;
			width: $sliceWidth;
			background-position: -#{$sliceWidth * $sliceItem} 0;
		}
	}
}

.slice-marquee_horizontal {

	.slice-marquee__item__slice {
		left: 0;
		width: 100%;
	}

	@for $sliceItem from 0 through 9 {

		.slice-marquee__item__slice_#{$sliceItem} {
			$sliceItemheight: $sliceIndexH;

			top: $sliceItemheight * $sliceItem;
			height: $sliceItemheight;
			background-position: 0 -#{$sliceItemheight * $sliceItem};
		}
	}
}

.slice-marquee_cube {

}

/* @group Animation types
  --------------------------------------------------------------------------- */


.slice-marquee_anim-type-1 { // bg slide horizon

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {

		}
	}

	.js-marquee__item_next,
	.js-marquee__item_prev {

		.slice-marquee__item__slice {
			background-position: -40px 0;
		}

		@for $i from 0 through 9 {
			.slice-marquee__item__slice_#{$i} {
				-webkit-transition-duration: #{$i * 80 + 500}ms;
			}
		}
	}
}

.slice-marquee_anim-type-00 { // bg slide vert

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {

		}
	}

	.js-marquee__item_next,
	.js-marquee__item_prev {

		.slice-marquee__item__slice {
			background-position: 0 -40px;
		}

		@for $i from 0 through 9 {
			.slice-marquee__item__slice_#{$i} {
				-webkit-transition-duration: #{$i * 80 + 500}ms;
			}
		}
	}
}

.slice-marquee_anim-type-0 { // scale 2

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {
			-webkit-transform: scale(1);
		}
	}

	.js-marquee__item_next,
	.js-marquee__item_prev {

		@for $i from 0 through 9 {
			.slice-marquee__item__slice_#{$i} {
				-webkit-transition-duration: #{$i * 80 + 500}ms;
				-webkit-transform: scale($i / 4 + 0.5);
			}
		}
	}
}

.slice-marquee_anim-type-2 { // scale 1

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
		-webkit-transform: scale(1.3);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {
			-webkit-transform: scale(1);
		}
	}

	.js-marquee__item_next,
	.js-marquee__item_prev {

		@for $i from 0 through 9 {
			.slice-marquee__item__slice_#{$i} {
				-webkit-transition-duration: #{$i * 80 + 200}ms;
			}
		}
	}

}

.slice-marquee_anim-type-3 { // vert slice opacity positon

	.js-marquee__item {
		//@include transition(all ease-in 1s);
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
		opacity: 0;
		top: -40px;
		-webkit-transform: scale(1.2);
	}

	.js-marquee__item_active {

		.slice-marquee__item__slice {
			top: 0;
			opacity: 1;
			-webkit-transform: scale(1);
		}
	}

	.js-marquee__item_next,
	.js-marquee__item_prev {

		@for $i from 0 through 9 {
			.slice-marquee__item__slice_#{$i} {
				-webkit-transition-duration: #{$i * 80 + 300}ms;
			}
		}
	}

}

.slice-marquee_anim-type-4 { // vert slice opacity . good with radial

	.js-marquee__item {
		@include transition(all ease-in 1s);
	}

	.slice-marquee__item__slice {
		@include transition(all linear 1s);
		opacity: 0;
	}

	.js-marquee__item_active {

		.slice-marquee__item__slice {
			opacity: 1;
		}
	}

	.js-marquee__item_prev,
	.js-marquee__item_next {

		@for $i from 0 through 9 {
			.slice-marquee__item__slice_#{$i} {
				-webkit-transition-duration: #{$i * 80 + 300}ms;
			}
		}
	}

}

.slice-marquee_anim-type-5 { // vert slide

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all linear .7s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {
			top: 0;
			opacity: 1;
		}
	}

	.js-marquee__item_prev,
	.js-marquee__item_next {

		.slice-marquee__item__slice {
			top: 40%;
			opacity: 0;
		}

		.slice-marquee__item__slice_0,
		.slice-marquee__item__slice_2,
		.slice-marquee__item__slice_4,
		.slice-marquee__item__slice_6,
		.slice-marquee__item__slice_8 {
			top: -40%;
		}

	}
}

.slice-marquee_anim-type-6 { // horiz

	.js-marquee__item {
		@include transition(all ease-in .4s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all linear 1s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {
			left: 0;
			opacity: 1;
		}
	}

	.js-marquee__item_prev,
	.js-marquee__item_next {

		.slice-marquee__item__slice {
			left: 40%;
			opacity: 0;
		}

		.slice-marquee__item__slice_0,
		.slice-marquee__item__slice_2,
		.slice-marquee__item__slice_4,
		.slice-marquee__item__slice_6,
		.slice-marquee__item__slice_8 {
			left: -40%;
		}

	}
}

.slice-marquee_anim-type-7 { // rotate ++

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {
			opacity: 1;
		}
	}

	.js-marquee__item_prev,
	.js-marquee__item_next {

		.slice-marquee__item__slice {
			-webkit-transform: rotate(20deg);
			opacity: 0;
		}

		.slice-marquee__item__slice_0,
		.slice-marquee__item__slice_2,
		.slice-marquee__item__slice_4,
		.slice-marquee__item__slice_6,
		.slice-marquee__item__slice_8 {
			-webkit-transform: rotate(-20deg);
		}

		@for $sliceItem from 0 through 9 {
			.slice-marquee__item__slice_#{$sliceItem} {
				-webkit-transition-delay: #{1 / $sliceItem}s;
			}
		}

	}
}

.slice-marquee_anim-type-8 { // rotate 2

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {
			opacity: 0;
		}
	}

	.js-marquee__item_prev,
	.js-marquee__item_next {

		.slice-marquee__item__slice {
			-webkit-transform: rotate(20deg);
			opacity: 1;
		}

		.slice-marquee__item__slice_0,
		.slice-marquee__item__slice_2,
		.slice-marquee__item__slice_4,
		.slice-marquee__item__slice_6,
		.slice-marquee__item__slice_8 {
			-webkit-transform: rotate(-20deg);
		}

		@for $sliceItem from 0 through 9 {
			.slice-marquee__item__slice_#{$sliceItem} {
				-webkit-transition-delay: #{1 / $sliceItem}s;
			}
		}

	}
}

.slice-marquee_anim-type-9 { // rotate 3

	.js-marquee__item {
		@include transition(all ease-in 1s);
		opacity: 0;
	}

	.slice-marquee__item__slice {
		@include transition(all ease 1s);
	}

	.js-marquee__item_active {
		opacity: 1;

		.slice-marquee__item__slice {
			opacity: 0;
		}
	}

	.js-marquee__item_prev,
	.js-marquee__item_next {

		.slice-marquee__item__slice {
			-webkit-transform: rotate(20deg);
			opacity: 1;
		}

		.slice-marquee__item__slice_0,
		.slice-marquee__item__slice_2,
		.slice-marquee__item__slice_4,
		.slice-marquee__item__slice_6,
		.slice-marquee__item__slice_8 {
			-webkit-transform: rotate(-20deg);
		}

	}
}

/* @end */

